.pagination li {
    list-style-type: none;
    float: left;
    margin-right: 3px;
}
.top-menu{
    height: 45px;
    box-shadow: 0 1px 6px 0 #00000019;
    padding-left: 0;
}
.top-menu li {
    display: inline;
    list-style-type: none;
    margin-right: 10px;
}
.top-menu li span{
    padding: 11px 5px;
    display: inline-block;
}